# Name: TESTPlugin__

# Just a test

# Author: KHK
# Version: 0.1
# Date: 2009/8/20
# Requires: ImageJ


# noch nicht fertig...
# Documentation:    http://rsbweb.nih.gov/ij/plugins/jar-demo.html
# Example:          Menu>Submenu, "Command", Plugin
# Plugins can be installed in the File>Import, File>Save As, Edit>Options, Analyze>Tools, Help>About Plugins and Plugins menu and submenus. If Plugins>Submenu is specified, the command will installed in the submenu of the Plugins manu named Submenu. If this submenu does not exist, it is created. If Plugins is specified, the command will be installed in the submenu of the Plugins menu that corresponds to the directory containing the JAR file. For example, if the JAR file is in ImageJ/plugins/jars, the command will be installed in Plugins>jars.

Plugins>KHKs_Utilities, "Measure/Fill/Clear Stacks", Measure_Stacks
Plugins>KHKs_Utilities, "Set NaN to zero", SetNaN_ToZero
Plugins>KHKs_Utilities, "Set zero to NaN", SetZero_ToNaN
Plugins>KHKs_Utilities, "Set to NaN outside selection", ClearNaNOutside_
Plugins>KHKs_Utilities, "Set to NaN inside selection", FillNaN_
Plugins>KHKs_Utilities, "Garbage collect", GarbageCollect_
Plugins>KHKs_Utilities, "Project 2D height map", ConvertBinaryStackTo2dHeightMap_
Plugins>KHKs_Utilities, "Add slice to stack", KHKs_AddSliceToStack
Plugins>KHKs_Utilities, "BW/HDR calculator", KHKsBwHdrCalculator_extended
# Plugins>KHKs_Utilities, "",



