# Name: TESTPlugin__

# Just a test

# Author: KHK
# Version: 0.1
# Date: 2009/8/20
# Requires: ImageJ


# noch nicht fertig...
# Documentation:    http://rsbweb.nih.gov/ij/plugins/jar-demo.html
# Example:          Menu>Submenu, "Command", Plugin
# Plugins can be installed in the File>Import, File>Save As, Edit>Options, Analyze>Tools, Help>About Plugins and Plugins menu and submenus. If Plugins>Submenu is specified, the command will installed in the submenu of the Plugins manu named Submenu. If this submenu does not exist, it is created. If Plugins is specified, the command will be installed in the submenu of the Plugins menu that corresponds to the directory containing the JAR file. For example, if the JAR file is in ImageJ/plugins/jars, the command will be installed in Plugins>jars.

Plugins>KHKs_Utilities, "Measure/Fill/Clear_Stacks", Measure_Stacks
Plugins>KHKs_Utilities, "Measure_StacksOrg", Measure_StacksOrg
# Plugins>KHKs_Utilities, "SetNaN2Zero_", SetNaN2Zero_
# Plugins>KHKs_Utilities, "SetNaN2Zero_stack", SetNaN2Zero_stack
Plugins>KHKs_Utilities, "Set NaN to Zero", SetNaN_ToZero
# Plugins>KHKs_Utilities, "SetZero2NaN_", SetZero2NaN_
# Plugins>KHKs_Utilities, "SetZero2NaN_stack", SetZero2NaN_stack
Plugins>KHKs_Utilities, "Set Zero to NaN", SetZero_ToNaN
Plugins>KHKs_Utilities, "ClearNaNOutside_", ClearNaNOutside_
Plugins>KHKs_Utilities, "FillNaN_", FillNaN_
Plugins>KHKs_Utilities, "Test_DateAndMacAddrCheck", Test_DateAndMacAddrCheck
Plugins>KHKs_Utilities, "Garbage Collect", GarbageCollect_
Plugins>KHKs_Utilities, "Project 2D Height Map", ConvertBinaryStackTo2dHeightMap_
Plugins>KHKs_Utilities, "KHKs_AddSliceToStack", KHKs_AddSliceToStack
Plugins>KHKs_Utilities, "KHKsBwHdrCalculator", KHKsBwHdrCalculator_
Plugins>KHKs_Utilities, "KHKsBwHdrCalculator_ext", KHKsBwHdrCalculator_extended
# Plugins>KHKs_Utilities, "",



